Source: capi-network-tethering
Section: libs
Priority: extra
Maintainer: Kangho Hur <kangho.hur@samsung.com>, ByungWoo Lee <bw1212.lee@samsung.com>, Seungyoun Ju <sy39.ju@samsung.com>, Hocheol Seo <hocheol.seo@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, capi-base-common-dev, libglib2.0-dev, libmobile-ap-dev

Package: capi-network-tethering
Architecture: any
Depends: ${misc:Depends}
Description: The library package for tethering

Package: capi-network-tethering-dev
Architecture: any
Depends: ${misc:Depends}, capi-network-tethering (= ${Source-Version}), dlog-dev, capi-base-common-dev, libglib2.0-dev, libmobile-ap-dev
Description: The development package for tethering library

Package: capi-network-tethering-dbg
Architecture: any
Depends: ${misc:Depends}, capi-network-tethering (= ${Source-Version})
Description: The debug package for tethering library

